{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-light" style="padding-left: 0; display: flex; justify-content: space-between">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Nama: {{nama}}</a>
    </div>
    <button class="btn btn-danger" type="submit"><a href="{% url 'wishlist:logout' %}" style="text-decoration: none; color: white">Logout</a></button>
  </nav>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama Barang</th>
      <th scope="col">Harga Barang</th>
      <th scope="col">Deskripsi</th>
    </tr>
  </thead>
  <tbody>
    {% for barang in list_barang %}
    <tr>
      <th scope="row">{{barang.id}}</th>
      <td>{{barang.nama_barang}}</td>
      <td>{{barang.harga_barang}}</td>
      <td>{{barang.deskripsi}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h5 style="text-align: center">Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}
